html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  	color: inherit;
  	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.card-row {
	display: flex;
}

.card-link, .card-link:link, .card-link:visited {
	transition: transform .2s;
	text-decoration: none;
	color: black;
}

.card-link:hover {
	transform: scale(1.01);
	text-decoration: none;
	color: #DC3545;
	border-color: #DC3545;
}
