@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
    font-family: 'Roboto Slab', sans-serif;
}

.viewer-div {
    height: 94vh;
}

.viewer-window {
    width: 100vw;
    height: 93vh;
}

.justify-content-between {
    height: 6vh;
}