@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
    font-family: 'Roboto Slab', sans-serif;
}

#card-deck-set {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}