.card-list, .card-list:link, .card-list:visited {
    transition: transform .2s;
    text-decoration: none;
    color: black;
}

.card-list:hover {
    transform: scale(1.01);
    text-decoration: none;
    color: black;
}