@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
    font-family: 'Roboto Slab', sans-serif;
}

#card-deck-set {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.main-content {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 10vh;
}

.card-list, .card-list:link, .card-list:visited {
    transition: transform .2s;
    text-decoration: none;
    color: black;
}

.card-list:hover {
    transform: scale(1.01);
    text-decoration: none;
    color: #DC3545;
    border-color: #DC3545;
}

.viewer-div {
    height: 94vh;
}

.viewer-window {
    width: 100vw;
    height: 93vh;
}

.add-isi-button {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.enter-isi-book {
    display: flex;
    justify-content: center;
    padding: 2vh 2vh 2vh 2vh;
}

.ag-theme-alpine {
    padding: 0vh 2vh 0vh 2vh;
}

.ag-header-cell-label {
    justify-content: center;
}

th {
    text-align: center;
}

.report-table > table, th, td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.print-content {
    margin-left: 3vw;
    margin-right: 3vw;
}

.section-heading {
    padding-top: 5vh;
}